@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<table id="CourseRegistrationTable" class="table table-bordered nowrap table-sm">
    <thead>
        <tr>
            <th>Öğrenci Adı/Soyadı</th>
        </tr>
    </thead>
</table>

<script src="/js/admin/courseRegistration.js"></script>