@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model OgrenciBilgiSistemi.Domain.Entities.Class
<style>
    .delete {
        float: right;
    }

</style>
<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-right delete" onclick="Delete()">Sil</button>
</div>
<form id="class-update-form" onsubmit="return ClassUpdate(event)">
    <div class="modal-body">
        <input required type="hidden" id="Id" name="Id" value="@Model.Id">
        <div class="form-group">
            <label for="ClassName" class="col-form-label">Sınıf Adı:</label>
            <input required type="text" class="form-control" id="ClassName" name="ClassName" value="@Model.ClassName">
        </div>
    </div>
    <div class="modal-footer">
        <a href="/Admin/Class/Index" class="btn btn-secondary" data-dismiss="modal">İptal</a>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </div>
</form>
<script src="/js/admin/class.js"></script>